extends ../base.jade

block content
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  link(rel='stylesheet', href='linker/styles/login.css')
  .container
    h3.border-bottom=__("Login")
    .container.form-box
      form.form-horizontal(role='form', action='/login', method='post')
        .form-group
          label.col-sm-2.control-label(for='email')=__("Email")
          .col-sm-10
            input.form-control.form-border(type='email', name='email', placeholder='Email')
        .form-group
          label.col-sm-2.control-label(for='password')=__("Password")
          .col-sm-10
            input.form-control.form-border(type='password', name='password', placeholder='Password')
          div.col-sm-offset-2.col-sm-10
            button.btn-nice(type='submit', value='Log In')=__("Login")

          p.col-sm-offset-2.col-sm-10.or-login=__("OrLogin")

      ul.col-sm-offset-2.col-sm-10

        li
          form(action='/auth/facebook', method='get')
            button.btn-nice.btn-facebook.icon-social#facebook(type='submit')
              i.fa.fa-facebook
              | Facebook
        li
          form(action='/auth/google', method='get')
            button.btn-nice.btn-google.icon-social(type='submit')
              i.fa.fa-google-plus
              | Google
        li
          form(action='/auth/twitter', method='get')
            button.btn-nice.btn-twitter.icon-social(type='submit')
              i.fa.fa-twitter
              | Twitter
        li
          form(action='/auth/github', method='get')
            button.btn-nice.btn-github.icon-social(type='submit')
              i.fa.fa-github
              | GitHub

  include ../ga.jade