extends ../base.jade

block content
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
  link(rel='stylesheet', href='linker/styles/login.css')
  .container
    h3.border-bottom=__("Login")
    .container.form-box
      form.form-horizontal(role='form', action='/login', method='post')
        .form-group
          label.col-sm-2.control-label(for='email')=__("Email")
          .col-sm-10
            input.form-control.form-border(type='email', name='email', placeholder='Email')
        .form-group
          label.col-sm-2.control-label(for='password')=__("Password")
          .col-sm-10
            input.form-control.form-border(type='password', name='password', placeholder='Password')
          div.col-sm-offset-2.col-sm-10
            button.btn-nice.btn-icon(type='submit', value='Log In')
              i.fa.fa-unlock
              span=__("Login")

          p.col-sm-offset-2.col-sm-10.or-login=__("OrLogin")


    .row.col-md-offset-4
      a.btn.btn-nice.btn-facebook.col-xs-6.col-md-2.col-xs-offset-0.icon-social#facebook(href='/auth/facebook')
        i.fa.fa-facebook
        span Facebook
      a.btn.btn-nice.btn-twitter.col-xs-6.col-md-2.col-xs-offset-0.icon-social(href='/auth/twitter')
        i.fa.fa-twitter
        span Twitter
      a.btn.btn-nice.btn-google.col-xs-6.col-md-2.col-xs-offset-0.icon-social(href='/auth/google')
        i.fa.fa-google-plus
        span Google
      a.btn.btn-nice.btn-github.col-xs-6.col-md-2.col-xs-offset-0.icon-social(href='/auth/github')
        i.fa.fa-github
        span Github

  include ../ga.jade